<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="x-icon" href="../images/Scoot_logo.svg.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/about.css">
  <title>Scoot-about</title>
</head>

<body>


  <header>
    <nav>
      <div class="container">
        <div class="nav container_">
          <ul class="nav-list">
            <li class="hamburger_menu"><img onclick=ShowSideBar() src="../images/hamburger_menu.svg" alt=""></li>
            <li class="nav-list-item"><a href="index.html"><img class="logo" src="../images/logo.svg" alt="logotip"></a>
            </li>
            <li class="nav-list-item"><a href="about.html">About</a></li>
            <li class="nav-list-item"><a href="location.html">Location</a></li>
            <li class="nav-list-item"><a href="careers.html">Careers</a></li>
          </ul>
          <a class="btn" href="#">Get Scootin</a>
        </div>

        <div class="sitebar container_">
          <ul class="sitebar-list">
            <li class="x"><img onclick=HideBar() src="../images/x.svg" alt=""></li>
            <li class="sitebar-list-item ">
              <a href="index.html">
                <img src="../images/logo.svg" alt="logotip">
              </a>
            </li>
            <li class="sitebar-list-item">
              <a href="about.html">About</a>
            </li>
            <li class="sitebar-list-item">
              <a href="location.html">Location</a>
            </li>
            <li class="sitebar-list-item">
              <a href="careers.html">Careers</a>
            </li>

          </ul>
          <a class="btn" href="#">Get Scootin</a>
        </div>
      </div>
    </nav>


    <div class="hero container_">
      <h1>About</h1>
    </div>
  </header>




  <main>
    <div class="container_">
      <section class="section-second">

        <ul class="section-second-list">
          <li class="section-second-list-item">
            <h2>Mobility for the digital era</h2>
            <p>
              Getting around should be simple (and even fun!) for everyone. We embrace technology to provide low cost,
              smart access to scooters at your fingertips.
            </p>
          </li>
          <li class="section-second-list-item-x">
            <img src="../images/about-section1-1.png" alt="section-second">
          </li>
        </ul>


        <ul class="section-second-list">
          <li class="section-second-list-item-x">
            <img src="../images/about-section1-2.png" alt="section-second">
          </li>
          <li class="section-second-list-item">
            <h2>Better urban living</h2>
            <p>
              We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we
              offset the minimal carbon footprint for each ride.
            </p>
          </li>
        </ul>
      </section>
    </div>


    <h1 class="xxx">Our values</h1>


    <div class="container">
      <section class="section-first">

        <ul class="section-first-list">

          <li class="section-first-list-item">
            <img src="../images/about-section2-1.png" alt="section-first">
            <div>
              <h4>Our tech</h4>
              <p>
                We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric
                scooters are a joy to ride!
              </p>
            </div>
          </li>

          <li class="section-first-list-item">
            <img src="../images/about-section2-2.png" alt="section-first">
            <div>
              <h4>Our integrity</h4>
              <p>
                We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city
                we serve.
              </p>
            </div>
          </li>

          <li class="section-first-list-item">
            <img src="../images/about-section2-3.png" alt="section-first">
            <div>
              <h4>Our community</h4>
              <p>
                We support every community we serve. All workers are paid a living wage based on their location and are
                Scoot employees.
              </p>
            </div>
          </li>

        </ul>

      </section>
    </div>


    <section>
      <div class="container">
        <h1 class="xxx">FAQs</h1>
        <div class="section-third">
          <h3>How it works</h3>

          <ul class="section-third-list">


            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>How do I download the app?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be
                re-directed to the correct page.
              </p>
            </li>



            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>Can I find a nearby Scoots?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui quod commodi, esse deleniti
                vero
                error. Atque quia laboriosam assumenda? Fugit ipsa neque, deserunt optio vero autem praesentium unde
                fugiat!
              </p>
            </li>



            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>Do I need a license to ride?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus ullam excepturi, placeat est,
                veritatis consequuntur sequi magni sunt soluta velit, modi nam inventore temporibus harum numquam hic
                deleniti! Ad.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>





    <section>
      <div class="container">
        <div class="section-third">
          <h3>Safe driving</h3>

          <ul class="section-third-list">


            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>Should I wear a helmet?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                Yes, please do! All cities have different laws. But we strongly strongly strongly recommend always
                wearing a helmet regardless of the local laws. We like you and we want you to be as safe as possible
                while Scooting.
              </p>
            </li>



            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>How about the rules & regulations?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui quod commodi, esse deleniti
                vero
                error. Atque quia laboriosam assumenda? Fugit ipsa neque, deserunt optio vero autem praesentium unde
                fugiat!
              </p>
            </li>



            <li class="section-third-list-item">
              <div class="section-third-list-item-down">
                <h4>What if I damage my Scoot?</h4>
                <picture>
                  <img onclick=Down(this) class="down" src="../images/down.svg" alt="pastga">
                  <img onclick=Up(this) class="up" src="../images/up.svg" alt="yuqoriga">
                </picture>
              </div>
              <p class="section-third-list-item-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus ullam excepturi, placeat est,
                veritatis consequuntur sequi magni sunt soluta velit, modi nam inventore temporibus harum numquam hic
                deleniti! Ad.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>






  </main>





  <footer>
    <div class="container_">
      <div class="footer">
        <div class="footer_in container">
          <h2>Sign up and <br> Scoot off today</h2>
          <ul class="Apps">
            <li class="Apps-item">
              <a href="https://apps.apple.com/us/app/scoot-mobile/id898287610">
                <img src="../images/AppStore.png" alt="apps">
              </a>
            </li>
            <li class="Apps-item">
              <a href="https://play.google.com/store/apps/details?id=com.flyscoot.android&hl=ru&gl=US">
                <img src="../images/PlayMarket.png" alt="apps">
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="main-footer">
        <div class="main-footer-in container">
          <ul class="main-footer-in-list">
            <li class="main-footer-in-list-item">
              <a href="index.html">
                <img src="../images/footer-logo.svg" alt="logotip">
              </a>
            </li>
            <li class="main-footer-in-list-item"><a href="about.html">About</a></li>
            <li class="main-footer-in-list-item"><a href="location.html">Location</a></li>
            <li class="main-footer-in-list-item"><a href="careers.html">Careers</a></li>
          </ul>

          <ul class="footer-list-icons">
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>











  <script>
    function ShowSideBar() {
      const sitebar = document.querySelector(".sitebar")
      sitebar.style.display = 'block'
    }

    function HideBar() {
      const hidesitebar = document.querySelector(".sitebar")
      hidesitebar.style.display = 'none'
    }

    function Down(element) {
      const parent = element.closest(".section-third-list-item")
      const down = parent.querySelector(".down")
      const up = parent.querySelector(".up")
      const text = parent.querySelector(".section-third-list-item-text")
      down.style.display = 'none'
      up.style.display = 'block'
      text.style.display = 'block'
    }

    function Up(element) {
      const parent = element.closest(".section-third-list-item")
      const down = parent.querySelector(".down")
      const up = parent.querySelector(".up")
      const text = parent.querySelector(".section-third-list-item-text")
      down.style.display = 'block'
      up.style.display = 'none'
      text.style.display = 'none'
    }


  </script>
</body>

</html>