<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="x-icon" href="../images/Scoot_logo.svg.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/careers.css">
  <title>Scoot-careers</title>
</head>

<body>


  <header>
    <nav>
      <div class="container">
        <div class="nav container_">
          <ul class="nav-list">
            <li class="hamburger_menu"><img onclick=ShowSideBar() src="../images/hamburger_menu.svg" alt=""></li>
            <li class="nav-list-item"><a href="index.html"><img class="logo" src="../images/logo.svg" alt="logotip"></a>
            </li>
            <li class="nav-list-item"><a href="about.html">About</a></li>
            <li class="nav-list-item"><a href="location.html">Location</a></li>
            <li class="nav-list-item"><a href="careers.html">Careers</a></li>
          </ul>
          <a class="btn" href="#">Get Scootin</a>
        </div>

        <div class="sitebar container_ sitebar">
          <ul class="sitebar-list">
            <li class="x"><img onclick=HideBar() src="../images/x.svg" alt=""></li>
            <li class="sitebar-list-item "><a href="index.html"><img src="../images/logo.svg" alt="logotip"></a></li>
            <li class="sitebar-list-item"><a href="about.html">About</a></li>
            <li class="sitebar-list-item"><a href="location.html">Location</a></li>
            <li class="sitebar-list-item"><a href="careers.html">Careers</a></li>

          </ul>
          <a class="btn" href="#">Get Scootin</a>
        </div>
      </div>
    </nav>


    <div class="hero container_">
      <h1>Careers</h1>
    </div>
  </header>








  <main>
    <div class="container_">
      <section class="section-second">

        <ul class="section-second-list">
          <li class="section-second-list-item">
            <h2>Care to join our mission?</h2>
            <p>
              We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our
              mission to provide clean, accessible transport to improve urban living we want to hear from you!
            </p>
            <a class="btn" href="#">Say Hello</a>
          </li>
          <li class="section-second-list-item-x">
            <img src="../images/careers-section1.png" alt="section-second">
          </li>
        </ul>
      </section>
    </div>










    <h1 class="xxx">Why join us?</h1>








    <div class="container">
      <section class="section-first">

        <ul class="section-first-list">

          <li class="section-first-list-item">
            <img src="../images/about-section2-1.png" alt="section-first">
            <div>
              <h4>Our tech</h4>
              <p>
                We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric
                scooters are a joy to ride!
              </p>
            </div>
          </li>

          <li class="section-first-list-item">
            <img src="../images/about-section2-2.png" alt="section-first">
            <div>
              <h4>Our integrity</h4>
              <p>
                We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city
                we serve.
              </p>
            </div>
          </li>

          <li class="section-first-list-item">
            <img src="../images/about-section2-3.png" alt="section-first">
            <div>
              <h4>Our community</h4>
              <p>
                We support every community we serve. All workers are paid a living wage based on their location and are
                Scoot employees.
              </p>
            </div>
          </li>

        </ul>

      </section>
    </div>









    <section>
      <div class="container">
        <ul class="careers">


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>General Manager</h4>
              <p>Jakarta, Indonesia</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>UI/UX Designer</h4>
              <p>Yokohama, Japan</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>Blog Content Copywriter</h4>
              <p>New York, United States</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>Graphic Designer</h4>
              <p>New York, United States</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>Fleet Supervisor</h4>
              <p>Jakarta, Indonesia</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


          <li class="careers-list">
            <div class="careers-list-item">
              <h4>UX Analyst</h4>
              <p>London, United Kingdom</p>
            </div>
            <a class="btn" href="#">Apply</a>
          </li>


        </ul>
      </div>
    </section>

  </main>














  <footer>
    <div class="container_">
      <div class="footer">
        <div class="footer_in container">
          <h2>Sign up and <br> Scoot off today</h2>
          <ul class="Apps">
            <li class="Apps-item">
              <a href="https://apps.apple.com/us/app/scoot-mobile/id898287610">
                <img src="../images/AppStore.png" alt="apps">
              </a>
            </li>
            <li class="Apps-item">
              <a href="https://play.google.com/store/apps/details?id=com.flyscoot.android&hl=ru&gl=US">
                <img src="../images/PlayMarket.png" alt="apps">
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="main-footer">
        <div class="main-footer-in container">
          <ul class="main-footer-in-list">
            <li class="main-footer-in-list-item">
              <a href="index.html">
                <img src="../images/footer-logo.svg" alt="logotip">
              </a>
            </li>
            <li class="main-footer-in-list-item"><a href="about.html">About</a></li>
            <li class="main-footer-in-list-item"><a href="location.html">Location</a></li>
            <li class="main-footer-in-list-item"><a href="careers.html">Careers</a></li>
          </ul>

          <ul class="footer-list-icons">
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>




        <script>
          function ShowSideBar() {
            const sitebar = document.querySelector(".sitebar")
            sitebar.style.display = 'block'
          }

          function HideBar() {
            const hidesitebar = document.querySelector(".sitebar")
            hidesitebar.style.display = 'none'
          }

        </script>
</body>

</html>